@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

@mixin casemenu {
  display: flex;
  background-color: white;
  border-radius: 15px;
  margin: 0 20px 10px 0;
}

$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color:  #f6f6f6;

  & a {
    text-decoration: none;
    color: black;
  }
}

header { 
  background: white;
  width: 100%;

  & .header {
    height: 80px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  & .fas {
    font-weight: bold;
    font-size: x-large;
  }

  & .headerlogo h1 {
    position: relative;
    font-family: "Shrikhand", cursive;
  }
}
img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

#sectionmenu {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restaurant {
  background-color: #f6f6f6;
  margin-top: -100px;
  border-radius: 30px 30px 0 0;
  width: 100%;
  max-width: 1200px;
  .restointro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
  .heart {
    stroke-width: 10;
    stroke: black;
    fill: white;
    cursor: pointer;
  }
  .heartempty {
    width: 30px;
    position: relative; 
    &:hover {
      stroke:transparent;
      fill:url(#text-fill);
      animation: animheart 2s ease-in-out;
    }
  }
  @keyframes animheart {
    0% {
      stroke :black;
      opacity: 0;
    
    }
    50% {
      stroke: transparent;
        fill: url(#text-fill);
      opacity: 0.5;
    }
    100% {
      stroke: transparent;
        fill: url(#text-fill);
      opacity: 1;
    }
  }
  .menu {
    margin-left: 20px;
  }
  #name {
    margin-left: 20px;
    font-family: "Shrikhand", cursive;
    font-weight: lighter;
  }
  .menu h2 {
    font-family: "roboto", cursive;
    font-weight: lighter;
    text-transform: uppercase;
  }
  .menu h2::after {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    content: "";
    width: 50px;
    height: 4px;
    background: #99e2d0;
    position: absolute;
   
    margin-top: 5px;
  }
  .casemenu {
    @include casemenu;
  }
  #case1{
    animation: animcase 0.5s ease-in-out;
  }
  #case2{
    animation: animcase 1s ease-in-out;
  }
  #case3{
    animation: animcase 1.5s ease-in-out;
  }
  #case4{
    animation: animcase 2s ease-in-out;
  }
  #case5{
    animation: animcase 2.5s ease-in-out;
  }
  #case6{
    animation: animcase 3s ease-in-out;
  }
  #case7{
    animation: animcase 3.5s ease-in-out;
  }
  #case8{
    animation: animcase 4s ease-in-out;
  }
  #case9{
    animation: animcase 4.5s ease-in-out;
  }
  #case10{
    animation: animcase 5s ease-in-out;
  }
  @keyframes animcase{
    0%{opacity: 0;};
    60%{opacity:0;}
    100%{opacity:1;};
  }
  .description {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    margin-left: 10px;
      h3{
        display:block;
        margin-bottom: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80%;
      }
      p{
        display: block;
        margin-top:0px;
        margin-bottom: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 75%;
        padding-bottom: 5px;
      }
  }
  .price {
    font-weight: bold;
    margin: 0px;
    align-self: flex-end;
    padding-bottom: 5px;
  }
  & button {
    visibility: hidden;
    }
  .casemenu:hover {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1.4fr 0.9fr 1fr; 
    grid-template-rows: 1fr; 
    transition: 2s ease-in-out;
    align-content: center;
    gap: 0px 0px; 
    cursor: pointer;
    
     .check {
       display:flex;
       align-items: center;
       justify-content: center;
       visibility:visible;
       height: 100%;
       max-width: 100%;
       background-color: $tertiaire;
       border: none;
       border-radius: 0 15px 15px 0;
       animation: animcheckbox 1s ease-in ;
       transform-origin: right;
       cursor: pointer;
     }
     .fa{
       font-size: 30px;
       color: white;
      animation: animfar 1s linear;
     }
  }
}
@keyframes animcheckbox{
  0%{transform: scalex(0);}
  100%{transform: scaleX(1);}
}

@keyframes animfar {
  0%{transform: rotate(0deg)};
  50%{transform: rotate(160deg)};
  100%{transform: rotate(360deg);}
}


    
  button.order{
    height: 50px;
    display: block;
    opacity: 1;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    color: white;
    font-size: 16px;
    margin-top: 20px;
    padding: 0 20px;
    border-radius: 200px;
    border: none;
  }
  button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    
  }



footer{
  width: 100%;
  background-color: #353535;
  color: white;
  margin-top: 20px;

  & .footerlogo h3{
    font-family: "Shrikhand", cursive;
    margin: 0px 0 20px 50px;
    padding-top: 20px;
  }

  & .footermenu{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  & .footerblock{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    color: white;
    height: 30px;
    cursor: pointer;
  }
  & .fas{
    padding-right: 5px;
  }

  & a{
    color: white;
  }

  & p:hover{
    text-decoration: underline;
  }

  & a:hover{
    text-decoration: underline;
  }
}
@media screen and (min-width: 1150px){
  .header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.restaurant{
  margin-top: -50px;
}
  .menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
  }
  
  
  .footerlogo{
    display:flex;
    justify-content: space-around;
  }

  footer .footermenu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    justify-items: center;
  }
}